
##
##  SENDGRID CONFIG
##

# key for the sendgrid account to use, found here: https://app.sendgrid.com/settings/api_keys
SENDGRID_KEY=SG.XX_XXXXXXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXXX_XXXXXXXXXXXXXX

# NOT the id found here: https://app.sendgrid.com/settings/api_keys, instead uncomment "right from sg" line and use the "list_id"
TT_SG_EMAIL_SUBSCRIBERS_LIST_ID=11c11db1-11e1-1111-111e-11110b1be111

# id for the TT unsubscribers list, found here: https://app.sendgrid.com/settings/api_keys
SENDGRID_UNSUBSCRIBE_GROUP_ID=12345

SG_FROM_EMAIL=your.name@yourdomain.com

##
##  MONGO DATABASE CONFIG
##

DATABASE_NAME=tt_db

STOCKS_TT_ANALYSIS_COLLECTION=tt_bc_analyzed_data

# Local
MONGO_URI=mongodb://localhost:27017/

# PROD
# MONGO_URI=mongodb+srv://username:password@cluster0-xahr42.mongodb.net/test?retryWrites=true&w=majority

##
##  "DEV MODE" CONFIG
##

# controls sending to everyone or ONLY single gmail
SEND_TO_ONLY_ADMIN=true

ADMIN_EMAIL=mrdotjim@gmail.com

# sends to literally no one if false (even admin emails)
DISABLE_ALL_MESSAGE_SENDING=false
